<strong>Olá, {{ student_name }}</strong>
<p>Houve uma matrícula, configura os detalhes abaixo: </p>
<p>
  <strong>Pergunta: </strong> <i> {{ question }} </i> <br /> <br>
  <strong>Resposta: </strong> <i> {{ answer }} </i> <br />
  <br>

</p>
