<strong>Olá, {{ student_name }}</strong>
<p>Sua pergunta foi respondida, configura os detalhes abaixo: </p>
<p>
  <strong>Pergunta: </strong> <i> {{ question }} </i> <br /> <br>
  <strong>Resposta: </strong> <i> {{ answer }} </i> <br />
  <br>
</p>
